<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>criar sala - rocket</title>

    <meta charset="UTF-8" />

    <!--view ports-->

    <meta name="viewport" content="width=device-width, inital-scale=1.0" />

    <!--css-->
    <link rel="stylesheet" href="styles/global.css" />
    <link rel="stylesheet" href="styles/home.css" />
    <!--FONTS-->
    <link rel="stylesheet" href="" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Open+Sans&family=Poppins:wght@500;700&display=swap"
      rel="stylesheet"
    />
    ">
  </head>
  <body>
    <div class="content" >
    <header>
      <img class="logo" src="images/logo.svg" alt=" Rocket.q Logo " />
    </header>

    <img class="img-home" src="images/home-bg-img.svg" alt="" />
    <img class="circle1" src="images/Circle1.svg" alt="" />
    <img class="circle2" src="images/Circle2.svg" alt="" />

    <main>
      <div class="container">
        <section>
          <h2 class="Entre">Entre como participante</h2>
          <form action="">
            <label class="sr-only" for="room-id"> </label>
            <input
              class="caixa-codigo"
              type="number"
              id="room-id"
              placeholder="Codigo da Sala"
            />
            <a href="create-pass.html">
              <button class="button-blue">
                <img src="images/enter-room.svg" alt="Entrar na Sala" />
                Entrar na sala
              </button>
            </a>
          </form>
        </section>

        <div class="separator">
          <div class="traco1"></div>
          <div class="texto">ou</div>
          <div class="traco2"></div>
        </div>

        <section>
          <h2 class="Crie">Crie sua pópria sala, de forma fácil</h2>
          <a class="button-white" href="create-room.html">
            <img class="criarsala" src="images/users.svg" alt="Criar Sala" />
            Criar Sala
          </a>
        </section>
      </div>
    </main>
  </body>
</html>
