* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  --black: #0d114f;
  --white: #fafafa;
  --red: #e83f5b;
  --light-blue: #e0ecff;
  --blue: #3485ff;
  --background: #fbfcff;
  --overlay: #040911;
  --incons: #a5b0c1;

  --grey-dark: #4d5e77;
  --grey-blue: #a1b2cd;
  --grey-medium: #d3d9e2;
  --grey-light: #e5eaf1;

  --hover-blue: #5699ff;
  --hover-red: #ea4b65;
  --hover-grey: #8794a7;

  font-size: 62.5%;
}

body {
  height: 100vh;
  background: var(--background);
}

body,
button,
iput,
textarea {
  /*intervalo de tamanho*/
  font-size: clamp (14px, 1.6rem, 2vw);

  font-family: Poppins;
}

.Entre {
  font-size: 2.8rem;
  color: var(--black);
  position: absolute;
  font-weight: bold;
  left: 80.3rem;
  top: 13.1rem;
  line-height: 4.2rem;
}

.Crie {
  font-size: 2.8rem;
  position: absolute;
  color: var(--black);
  left: 80rem;
  top: 47rem;
  width: 40rem;
}

.entrar-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.3rem 10.6rem;
  position: absolute;
  font-size: 1.6rem;
  width: 36rem;
  height: 4.8rem;
  left: 80.3rem;
  top: 30.5rem;
  border-radius: 0.8rem;
  background-color: var(--blue);
  color: #e5eaf1;
}

.caixa-codigo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.3rem, 1.2rem, 1.3rem, 1.6rem;
  position: absolute;
  width: 36rem;
  height: 4.8rem;
  left: 80.3rem;
  top: 20.8rem;
  border-radius: 0.8rem;
  border: 0.2rem solid;
  box-sizing: border-box;
  border-color: var(--grey-blue);
  text-align: left;
  padding-left: 1.6rem;
}
.traco1 {
  position: absolute;
  width: 15.7rem;
  border: 0.1rem solid var(--grey-blue);
  left: 80.3rem;
  top: 40.5rem;
}

.texto {
  font-size: 1.6rem;
  position: absolute;
  font-family: poppins;
  color: var(--grey-blue);
  width: 2.1rem;
  height: 2.4rem;
  left: 97rem;
  top: 39rem;
}

.traco2 {
  position: absolute;
  width: 15.7rem;
  border: 0.1rem solid var(--grey-blue);
  left: 100.36rem;
  top: 40.6rem;
}

.button-criar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.3rem, 10.6rem;
  position: absolute;
  width: 30.6rem;
  height: 5rem;
  left: 83rem;
  top: 61rem;
  border: solid 0.1rem var(--blue);
  box-sizing: border-box;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  font-family: poppins;
  color: var(--blue);
}

.logo {
  left: 16rem;
  top: 3.5rem;
  position: absolute;
}

.criarsala {
  padding-right: 1rem;
}
